<div class="jumbotron">
    <h1>Api Configuration</h1>
    <p class="lead">Configuration values from configuration file.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Keys</h2>
        <p>webServicesName</p>
        <p>prefixHeaderKey</p>
        <p>requestTimeValidity</p>
        <p>maxResultsReturn</p>
    </div>
    <div class="col-md-4">
        <h2>Values</h2>
        <p>@this.ViewBag.WebSErvicesName</p>
        <p>@this.ViewBag.PrefixHeaderKey</p>
        <p>@this.ViewBag.RequestTimeValidity</p>
        <p>@this.ViewBag.MaxResultsReturn</p>
    </div>
</div>
