<div class="jumbotron">
    <h1>ASP.NET API Authentication</h1>
    <p class="lead">Sample API authentication like Amazon Web Services authentication.</p>
    <p><a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Authentication</h2>
        <p>
            Amazon Web Services like.
        </p>
        <p><a class="btn btn-default" href="/Home/Sample">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>How it work ?</h2>
        <p>
            Each user has a Public and Secret keys, only the user and the web services know those keys.
        </p>
        <p>
            For each request the user need to send a specific header for be authenticated by the web services.
        </p>
    </div>
</div>
